* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url(images/patt.png);
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    min-width: max-content;
    padding: 25px 0 25px 0;
    border-bottom: 1px solid white;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-6 {
    width: 50%;
}

.col-md-3 {
    width: 25%;
}

.logo {
    margin-top: 8px;
}

.menu>li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu:after {
    content: "";
    display: block;
    clear: both;
}

.menu a {
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #2c71b8;
    font-size: 21px;
}

.menu a:hover {
    color: white;
    background-color: #2c71b8;
}

.form {
    padding-left: 15px;
    padding-right: 15px;
}

.row-2 {
    width: 230px;
    padding-left: 15px;
    padding-right: 15px;
}

.form {
    width: 200px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #2c71b8;
    padding: 0;
}

.search {
    width: 158px;
    background: rgba(0, 0, 0, 0);
    border: none;
    height: 40px;
    font-size: 21px;
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding-left: 19px;
    padding-bottom: 3px;
}

.search::placeholder {
    font-size: 21px;
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
}

.button {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: none;
    background: #2c71b8 url(images/icon4.png) no-repeat 50% 50%;
    outline: none;
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

.row-1 {
    width: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

[class*="row-"] {
    float: left;
}

.basket {
    width: 40px;
    height: 40px;
    background: white url(images/icon1.png) no-repeat 50% 50%;
    margin-top: 5px;
    position: relative;
}

.product-count {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #2c71b8;
    margin-top: -10px;
    margin-left: -10px;
    position: absolute;
    line-height: 20px;
    text-align: center;
    color: white;
    font-size: 12px;
}